# Linear Regression

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
data=pd.read_csv("insurance.csv")

In [3]:
data.head(10)

   age  sex     bmi  children  smoker  region      charges
0   19    0  27.900         0       1       1  16884.92400
1   18    1  33.770         1       0       2   1725.55230
2   28    1  33.000         3       0       2   4449.46200
3   33    1  22.705         0       0       3  21984.47061
4   32    1  28.880         0       0       3   3866.85520
5   31    0  25.740         0       0       2   3756.62160
6   46    0  33.440         1       0       2   8240.58960
7   37    0  27.740         3       0       3   7281.50560
8   37    1  29.830         2       0       4   6406.41070
9   60    0  25.840         0       0       3  28923.13692

In [4]:
data.shape

(1338, 7)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
age         1338 non-null int64
sex         1338 non-null int64
bmi         1338 non-null float64
children    1338 non-null int64
smoker      1338 non-null int64
region      1338 non-null int64
charges     1338 non-null float64
dtypes: float64(2), int64(5)
memory usage: 73.3 KB

In [6]:
X = data.drop('charges', axis=1)
y = data['charges']

In [7]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20)

In [8]:
from sklearn.linear_model import LinearRegression

In [9]:
lrg=LinearRegression()
lrg.fit(X_train,y_train)
y_pred=lrg.predict(X_test)

In [10]:
from sklearn.metrics import r2_score

In [11]:
print("R-squared score ",r2_score(y_test,y_pred))

R-squared score  0.7330463095489388